.button{
    color: white;
    font-weight: 700;
    padding: .5rem;
    border-radius: 25px;
    border: none;
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( to left,
  
    #2BB7DA ,
    #31D35C ,
     );
}