.footer{
   width: 100%;
  margin-top: 2rem;
    color: rgb(255, 255, 255);
   
   

   
   .footer__content{
    display: grid;
    height: 10rem;
width: 80%;
    margin: auto;
    // grid-template-columns: repeat(4,1fr);
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-areas: "foot1  foot2  foot3  ";
   }
    .foot1{
        grid-area: foot1;
        // border: 1px solid white;
         flex-direction: column;
        display: flex;
        min-height: 100% ;
        justify-content: space-around;
      
        .foot1__icon__social{
           img{

              margin-left: .5rem;
           }

   
        }
        
    }
    .foot2{
        grid-area: foot2;
        // border: 1px solid white;
        display: flex;
    
   align-items: center;
       
    }
    .foot3{
        grid-area: foot3;
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .foot3__button{
      
            display: flex;
            justify-content: center;
        }
    }
    
}