@import './article/article.scss';
@import './footer.scss';

* {
    box-sizing: border-box;
  }

html,body{
    height: 100%;
}
#root{
min-height: 100%;
  
    position: relative;

}
.g{
min-height: 100%;
padding-bottom: 10rem;

background-color: rgb(243, 243, 25);

}

.h{

position: absolute;
bottom: 0;
right: 0;
left: 0;
border: 1px solid rgb(247, 24, 24);
}
body{
    background-color: rgb(13, 255, 134);
}

.test{
    border: solid 1px red;
}

section{
      width: 80%;
    margin: auto;
}