@media screen and (min-width:1722px) {

    .img2{
        bottom: -5rem;
        right: -11rem
       }
       .img1{
           top: -5rem;
           right: -5rem;
        }
        
    }
    
    
    @media screen and (max-width:1721px ){
        
        
        .img2{
            width: 50rem;
            bottom: -3rem;
            right: -3rem
            
        }
        .img1{
           width: 40rem;
           top: -10rem;
           right: -5rem;
       }



}

@media screen and (max-width:1720px)  {
    .img1-mobile{
        width: 40rem;
        top: -10rem;
       right: 0;

    }
    .img2{
        right: -2rem;
        top: -10rem;
      
    }
}

@media screen and (max-width:999px) {
    .img1-mobile{
        width: 25rem;
        top: -10rem;
        left: 10%;
    }
    .img2-mobile{
        right: -1rem;
        top: -1rem;
        width: 20rem;
    }
}