@media screen and (max-width:1439px ){


.main{
 
margin-top: 0rem; 
    overflow: hidden;

    section{
        min-height: 30rem;
        
    }

}
.nav__contain,.footer__content,.section__content{
    min-width: 90%;
}

.article{
    padding: .5rem;
}
.ggg{
    border: 1px solid green;

}
}