.articleImage{
 

    img{
       width: 100%;
       height: 10rem;
        object-fit: cover;
    }

}

.article{
    // border: 1px solid rgb(157, 179, 37);
       padding: 2rem;
    // width: 20%;
    // height: 20rem;:
    cursor: pointer;
    // margin: .5rem;

}

.content1{
    min-height: 20rem;
}

.hhhh{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        margin: auto;
        justify-self: start;
        align-self: flex-start;
    }
}

// main2

.section__content__text{
    padding: 3rem 0rem 3rem 0rem;

    p{
        margin-top: 3rem;
    }
}

// main3

.articleMain3__p{

    font-size: 15px
}