.articleImage img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.article {
  padding: 2rem;
  cursor: pointer;
}

.content1 {
  min-height: 20rem;
}

.hhhh {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hhhh li {
  margin: auto;
  justify-self: start;
  align-self: flex-start;
}

.section__content__text {
  padding: 3rem 0rem 3rem 0rem;
}
.section__content__text p {
  margin-top: 3rem;
}

.articleMain3__p {
  font-size: 15px;
}

.button {
  color: white;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  width: 12rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #2BB7DA, #31D35C);
}

.bg-section-1 {
  background-color: hsl(0, 0%, 98%);
}

.bg-section-2 {
  background-color: hsl(220, 16%, 96%);
}

.bg-section-3 {
  background-color: hsl(0, 0%, 98%);
}

body {
  background-color: hsl(0, 0%, 100%);
}

.articleMain3 {
  background-color: hsl(0, 0%, 100%);
}

footer {
  background-color: hsl(233, 26%, 24%);
}

.footer {
  width: 100%;
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  grid-template-areas: "foot1   foot2  foot3";
}
.footer .footer__content {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-areas: "foot1 " "foot2" "foot3";
}
@media screen and (min-width: 500px) {
  .footer .footer__content {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "foot1 foot1 " "foot2 foot2 " "foot3 foot3  ";
  }
}
@media screen and (min-width: 900px) {
  .footer .footer__content {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "foot1   foot2  foot3  ";
    width: 80%;
    height: 10rem;
  }
}
.footer .foot1 {
  grid-area: foot1;
  flex-direction: column;
  display: flex;
  min-height: 100%;
  justify-content: space-around;
}
.footer .foot1 .foot1__icon__social img {
  margin-left: 0.5rem;
}
.footer .foot2 {
  grid-area: foot2;
}
.footer .foot2 ul {
  padding-left: 0 !important;
}
.footer .foot2 ul li {
  width: 100%;
  margin-left: 0 !important;
}
.footer .foot3 {
  grid-area: foot3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .foot3 .foot3__button {
  display: flex;
  justify-content: center;
}

* {
  border: 1px solid blueviolet;
}

.nav__contain {
  width: 80%;
  margin: auto;
}

.nav__contain__contain {
  padding-left: 0 !important;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "header1 header2 header3";
  width: 100%;
}

.header {
  width: 100%;
}

.liste {
  margin: auto;
}

.header1 {
  grid-area: header1;
  padding-left: 0 !important;
}

.header2 {
  grid-area: header2;
}

.header3 {
  grid-area: header3;
  margin-left: 0 !important;
  padding-left: 0 !important;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1440px) {
  .img2 {
    bottom: -5rem;
    right: -11rem;
  }
  .img1 {
    top: -5rem;
    right: -5rem;
  }
}
@media screen and (max-width: 1439px) {
  .img2 {
    width: 50rem;
    bottom: -3rem;
    right: -3rem;
  }
  .img1 {
    width: 40rem;
    top: -10rem;
    right: -5rem;
  }
}
@media screen and (max-width: 900px) {
  .img1-mobile {
    width: 25rem;
    top: -10rem;
    left: 10%;
  }
  .img2-mobile {
    right: -2rem;
    top: -2rem;
  }
}
@media screen and (max-width: 1439px) {
  .main {
    margin-top: 0rem;
    overflow: hidden;
  }
  .main section {
    min-height: 30rem;
  }
  .nav__contain, .footer__content, .section__content {
    min-width: 90%;
  }
  .article {
    padding: 0.5rem;
  }
  .ggg {
    border: 1px solid green;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  text-align: justify;
  font-weight: 300;
}

html, body {
  height: 100%;
}

li {
  list-style: none;
  cursor: pointer;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

h4, h5 {
  font-weight: 500;
}

p {
  text-align: justify;
}

#root {
  min-height: 100%;
  position: relative;
}

.principal {
  min-height: 100%;
  padding-bottom: 10rem;
  position: relative;
}
@media screen and (max-width: 900px) {
  .principal {
    padding-bottom: 25rem;
  }
}

.bas {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.ff img {
  width: 100%;
  object-fit: cover;
}

.main {
  width: 100%;
  padding-top: 5rem;
  overflow: hidden;
}

section {
  min-height: 45rem;
}

.section__content {
  width: 80%;
  margin: auto;
}

.log {
  color: aliceblue;
  background-color: azure;
}

/*# sourceMappingURL=index.css.map */
