.bg-section-1{
    background-color: hsl(0, 0%, 98%);    
}
.bg-section-2{
    
    background-color : hsl(220, 16%, 96%);    
}
.bg-section-3{
    background-color: hsl(0, 0%, 98%);    

}

body{
    background-color: hsl(0, 0%, 100%);
}

// main3
.articleMain3{
    background-color: hsl(0, 0%, 100%);
    
}

footer{
    background-color:hsl(233, 26%, 24%);
}
